@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}
hr {
    display: none; 
  }

  *{
    font-family: Roboto Slab;
  }

  .prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  ::-webkit-scrollbar{
    display:none;
  }